[user]
	email = iman@nebulr.group
	name = Iman Pouya
[core]
	excludesfile = /Users/imanpouya/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/imanpouya/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = "!f() { /home/appuser/.cursor-server/bin/8ea935e79a50a02da912a034bbeda84a6d3d3550/node /tmp/vscode-remote-containers-bd16044a-b4e2-4502-8c80-9668705d11e6.js git-credential-helper $*; }; f"
